{% load static %}
{% static "images" as baseURL %}
<!doctype html>
<!-- Homepage  -->
<html>
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Social Awareness</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>
</head>
<body>
	<div id="header">
		<a href="/" class="logo">
			<img src="{% static 'images/logo.png' %}" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/">home</a>
			</li>
			<li>
				<a href="about">about</a>
			</li>
			{% if user.is_authenticated %}
			<li><b>Hello, {{user.first_name}}</b></li>
			<li>
				<a href="accounts/profile">Profile</a>
			</li>
			<li>
				<a href="accounts/option">Post Campaingns</a>
			</li>
			
			<li>
				<a href="accounts/logout">Logout</a>
			</li>
			{% else %}
			<li class="">
				<a href="accounts/register">Register</a>
			</li>
			<li>
				<a href="accounts/login">Login</a>
			</li>
			{% endif %}
		</ul>
	</div>
	<div id="body">
		<h1><span>Campaigns</span></h1>
		<div>
			<ul>
				{% for camp in camps %}
				{% if camp.approved %}
				<li>
					<a href="#" class="figure">
						<img src="{{camp.img.url}}" alt="" width="295" height="295">
					</a>
					<div>
						<h3>{{ camp.title }}</h3>
						<p>
							{{ camp.des }}
						</p>
						<a href="{% url 'detail' camp.id %}" class="more">read this</a>
					</div>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div id="footer">
		<div>
			<p>&copy; 2022 by Project Team 1. All rights reserved.</p>
			<ul>
				<li>
					<a href="#" id="twitter">twitter</a>
				</li>
				<li>
					<a href="#" id="facebook">facebook</a>
				</li>
				<li>
					<a href="#" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="#" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
