{% load static %}
{% static "images" as baseURL %}
<!doctype html>
<!-- Homepage  -->
<html>
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>
</head>

	<div id="header">
		<a href="/" class="logo">
			<img src="{% static 'images/logo.png' %}" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/">home</a>
			</li>
			<li>
				<a href="about.html">about</a>
			</li>
			{% if user.is_authenticated %}
			<li><b>Hello, {{user.first_name}}</b></li>
			<li>
				<a href="accounts/logout">Edit Profile</a>
			</li>
			<li>
				<a href="accounts/upload">Post Campaingns</a>
			</li>
			<li>
				<a href="accounts/logout">Promote Business</a>
			</li>
			<li>
				<a href="accounts/logout">Logout</a>
			</li>
			{% else %}
			<li class="selected">
				<a href="accounts/register">Register</a>
			</li>
			<li>
				<a href="accounts/login">Login</a>
			</li>
			{% endif %}
		</ul>
	</div>
	